.header1{
    color: red;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin: 0px;
    display: grid;
    place-items: center;
}
.ek1{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}
.ek{
    color: darkmagenta;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.John_China{
    border-style: solid;
    border-color: brown;
}
#fondo{
    background-image: url(John_Xina.webp);
    height: 350px;
    width: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin: 0;
    height: 50;
    display: grid;
    place-items: center;
}
.lista1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: violet;
    border-style: dotted;
    border-width: 2px;
    background-color: bisque;
    width: 250px;
}